<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Sepetim
    </div>
    <div class="card-body">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ÜRÜN İSMİ BURADA OLUCAK</h5>
              <p class="card-text">ÜRÜN BİLGİSİ BURADA OLUCAK</p>
              <p class="card-text"><small class="text-muted">ÜRÜN FİYATI BURADA OLUCAK</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <h5>Toplam Tutar</h5>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Alışverişi Tamamla</button>
      </div>
    </div>
  </div>
</div>