<div class="container mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5>Admin İçin Oturum Aç</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>E-Posta Adresi</label>
            <input type="text" name="mail" #mail class="form-control">
          </div>
          <div class="form-group">
            <label>Parola</label>
            <input type="password" name="parola" #parola class="form-control">
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary" (click)="GirisYapAdmin(mail.value,parola.value)">Giriş Yap</button>
          <button class="btn btn-link btn-block" style="float: right;" [routerLink]="['/login']">HAYIR!
            MÜŞTERİYİM</button>
        </div>
      </div>

    </div>
  </div>
</div>