<div class="container">
  <div class="row mt-3">
    <div class="form-group">
      <input class="form-control" id="productName" placeholder="Arama Metnini Buraya Giriniz">
    </div>
    <small class="form-text text-muted">
      şuan <strong></strong> aradığınız
    </small>
  </div>



  <div class="row mt-2 ">
    <div *ngFor="let urun of urunler" class="card" style="width: 18rem;">
      <img class="card-img-top img-thumbnail rounded" src={{urun.imageUrl}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{urun.urunIsmi|uppercase}}</h5>
        <p class="card-text">{{urun.description|titlecase}}</p>
        <a (click)="addToCard()" (click)="SepeteEkle()" class="btn btn-primary">Sepete Ekle</a>
        <a [routerLink]="['/urundetay',urun.key]" style="float: right;" class="btn btn-primary ml-2">Detay</a>



        <!-- *ngIf="fbservis.OturumKontrol()" oturum açıksa göster kodu -->






      </div>
    </div>
  </div>
</div>