<div class="container">
  <div class="row mt-3">
    <div class="form-group">
      <input class="form-control" id="productName" placeholder="Arama Metnini Buraya Giriniz">
    </div>
    <small class="form-text text-muted">
      şuan <strong></strong> aradığınız
    </small>
  </div>



  <div class="row mt-2 justify-content-center ">
    <div *ngFor="let urun of urunler" class="card m-3 border-dark mb-3 " style="width: 19rem;">
      <img class="card-img-top rounded-top boyut" src={{urun.imageUrl}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{urun.urunIsmi|uppercase}}</h5>
        <p class="card-text">{{urun.urunkisaaciklama|titlecase}}</p>
        <p class="card-text">{{urun.price}}</p>
        <a (click)="addToCard()" (click)="SepeteEkle()" class="btn btn-primary">Sepete
          Ekle</a>
        <a [routerLink]="['/urundetay',urun.key]" style="float: right;" class="btn btn-primary ml-2">Detay</a>



        <!-- *ngIf="fbservis.OturumKontrol()" oturum açıksa göster kodu -->






      </div>
    </div>
  </div>
</div>